<% title @vm.azure_vm.name %>
<div class='col-md-12'>
  <table class="<%= table_css_classes %>">
    <thead>
    <tr><th colspan="2"><%=_('Properties') %></th></tr>
    </thead>
    <tbody>
      <tr>
        <td>VM Size</td>
        <td><%=@vm.vm_size%></td>
      </tr>
      <tr>
        <td>Location</td>
        <td><%=@vm.azure_vm.location%></td>
      </tr>
      <tr>
        <td>Platform</td>
        <td><%=@vm.azure_vm.storage_profile.os_disk.os_type%></td>
      </tr>
      <tr>
        <td>Public IP address</td>
        <td><%=@vm.public_ip_address%></td>
      </tr>
      <tr>
        <td>Private IP address</td>
        <td><%=@vm.private_ip_address%></td>
      </tr>
    </tbody>
  </table>
</div>
